header{
    height: 100vh;
    padding: 7rem;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('../../assets/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.bg{
    background: red;
}
.header__container{
    text-align: center;
    /* height: 100%; */
    /* position: relative; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header_info{
    color: var(--color-bg);
}
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.header__socials{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__socials a{
    margin: 0 12px;
    color: var(--color-bg);
    font-size: 21px;
}
/* .header__socials::after{
    content: "";
    width: 1px;
    height: 3rem;
    background: var(--color-primary);
} */

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0; 
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.scroll__down{
    margin-top: 200px;
    display: inline-block;
}
/* .scroll__down{ */
    /* position: absolute; */
    /* right: -2.3rem; */
    /* top: 100px; */
    /* left: 0; */
    /* transform: rotate(90deg); */
    /* font-weight: 200; */
    /* font-size: 0.9rem; */
/* } */

@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
}
@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header__socials,
    .scroll__down{
        display: none;
    }
}